@import 'reset';
$pink:#feeae2;
$dark: #474256;
$grey:#C8C3BC;

body {
  font-family: Nunito;
  font-color: $dark;
}


ul {
  display: flex;
  justify-content: space-around;
  li {
	 padding: 0.5em;
  }
}

h1 {
    font:{
      size: 1.9rem;
      family: Suez One;
    }
   }


.title {
  display: inline-block;
  position: absolute;
  margin-top: 10%;
  padding: 20px;
  max-width: 70px;
   font:{
    weight: light;
    size: 1.1em;
  }
}


button {
  background-color: white;
  border: 0.5px solid;
  padding: 0.5em;
  cursor: pointer;
  margin: 0.5em;
  float: right;
  font:{
    family: Nunito;
    weight: light;
    size: 13px;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

label {
 color: $pink;
 font-size: 7rem;
 position: absolute;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 50px;
   div:first-child {
    height: 200px;
    display: flex;
     p {
      font-size: 1.2rem;
      align-self: flex-end;
      color: $dark;
      }
    }
    div:last-child {
     .details {
      background-color: $pink;
      text-align: center;
      padding: 30px;
      margin-top: 20px;

      }
    }

}

footer {
  background-color: $dark;
  height: 400px;
}
