/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Nunito;
  color: #474256;
  font-size: 16px;
}

.btn, ul button, .component .details button, footer .connect :nth-child(3) {
  background-color: transparent;
  border: 0.5px solid;
  cursor: pointer;
  font-family: Nunito;
  font-weight: 300;
  font-size: 0.8rem;
}

ul {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;
  background-color: white;
  opacity: 0.8;
  width: 100%;
}

ul li {
  padding: 0.3rem;
  font-size: 0.9rem;
}

ul button {
  float: right;
  padding: 0.2rem 0.5rem;
}

h1 {
  font-size: 2rem;
  font-family: Suez One;
}

.content {
  margin: 0 auto;
}

.title {
  display: inline-block;
  position: absolute;
  padding: 4rem 2rem;
  max-width: 70px;
  font-weight: light;
  font-size: 0.8rem;
}

.title h1 {
  font-size: 1.4rem;
}

img {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

span {
  color: #feeae2;
  font-size: 7rem;
  position: absolute;
  z-index: -1;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45rem;
  padding: 2rem;
}

.component p {
  font-size: 1.1rem;
  text-align: right;
  color: #474256;
  padding-left: 50%;
  margin-top: 20%;
}

.component .details {
  background-color: #feeae2;
  text-align: center;
  padding: 1rem;
  order: 2;
}

.component .details article {
  font-size: 0.7rem;
  line-height: 1.3;
}

.component .details button {
  margin-top: 1rem;
  padding: 0.5rem;
}

footer {
  padding: 2.2rem;
  background-color: #474256;
  height: 15rem;
}

footer h1 {
  color: #f9b49c;
}

footer p {
  color: #C8C3BC;
}

footer .connect {
  margin-top: 3rem;
}

footer .connect h3 {
  color: #f9b49c;
}

footer .connect input {
  margin-top: 1rem;
  height: 2rem;
}

footer .connect :nth-child(3) {
  color: #f9b49c;
}

@media (min-width: 600px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 24px;
  }
  ul {
    padding: 0.5rem;
    justify-content: flex-end;
  }
  .title {
    margin-top: 5rem;
  }
  .component {
    height: auto;
    width: 40rem;
    margin: auto;
  }
  .component p {
    text-align: left;
    width: 60%;
    padding-left: 0;
    margin-top: 5rem;
  }
  .component img {
    width: 25rem;
    height: 18rem;
    align-self: flex-end;
    margin-top: 3rem;
  }
  .component .details {
    width: 16rem;
    position: absolute;
    margin-top: 17rem;
    z-index: 10;
  }
  .component .details article {
    margin: auto;
  }
  .component .details button {
    margin-top: 2rem;
  }
}
