@import 'reset';
$pink: #feeae2;
$dark: #474256;
$grey: #C8C3BC;
$daisy: #f9b49c;

* {
  box-sizing: border-box;
}


html {
  font-family: Nunito;
  font-color: $dark;
  font-size: 16px;
 }

.btn {
  background-color: transparent;
  border: 0.5px solid;
  cursor: pointer;
     font:{
    family: Nunito;
    weight: 300;
    size: 0.8rem;
  }
}

ul {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  background-color: white;
  opacity: 0.8;
  width: 100%;
   li {
    padding: 0.3rem;
    font-size: 0.9rem
  }
  button {
    @extend .btn;
    float: right;
    padding: 0.2rem 0.5rem;
  }
}

h1 {
    font:{
      size: 2rem;
      family: Suez One;
    }
   }
.content {
  margin: 0 auto;
 }

.title {
  display: inline-block;
  position: absolute;
  padding: 2rem;
  max-width: 70px;
   font:{
    weight: light;
    size: 0.8rem;
  }
  h1 {
    font-size: 1.4rem;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

span {
 color: $pink;
 font-size: 7rem;
 position: absolute;
 z-index: -1;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45rem;
  padding: 2rem;
     p {
      font-size: 1.1rem;
      text-align: right;
      color: $dark;
      padding-left: 50%;
      margin-top: 20%;;
       }

     .details {
      background-color: $pink;
      text-align: center;
      padding: 1rem;
      order: 2;
      article {
      font-size: 0.7rem;
      line-height:1.3;
     }
        button{
        @extend .btn;
        margin-top: 1rem;
        padding: 0.5rem;
        }
    }
}

footer {
  padding: 2.2rem;
  background-color: $dark;
  height: 15rem;
  h1{
    color: $daisy;
  }
  p{
    color: $grey;
  }
  .connect{
    margin-top: 3rem;
  h3{
    color: $daisy;
  }
input{
    margin-top: 1rem;
    height: 2rem;
}
 :nth-child(3) {
      @extend .btn;
      color: $daisy;
    }
  }

}


// pad
@media (min-width: 600px) {
  html {
    font-size: 30px;
  }
}


// desktop
@media (min-width: 1366px) {

 html {
    font-size: 35px;
  }

  ul{
    padding:1rem;
    justify-content: flex-end;
  }
  .title{
    margin-top: 5rem;
  }
    .component  {
    height: auto;
    width: 50rem;
    margin: auto;
    p {
      text-align: left;
      width:60%;
      padding-left: 0;
      margin-top: 5rem;
     }

    img {
      width: 30rem;
      height: 20rem;
      align-self: flex-end;
      margin-top: 3rem;
    }

    .details{
      width: 20rem;
      position: absolute;
      margin-top: 18rem;
      z-index: 10;
        article{
          margin: auto;
        }
          button{
        margin-top: 2rem;
          }
       }
    }

}
